interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.7timer.info/bin/api.pl?lon=-122.0770&lat=37.3660&product=astro&output=json
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/x-perl
      Location:
      - https://www.7timer.info/bin/astro.php?lon=-122.1&lat=37.4&ac=0&unit=metric&output=json&tzshift=0&points=24
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://www.7timer.info/bin/astro.php?lon=-122.1&lat=37.4&ac=0&unit=metric&output=json&tzshift=0&points=24
  response:
    body:
      string: "{\n\t\"product\" : \"astro\" ,\n\t\"init\" : \"2026042600\" ,\n\t\"dataseries\"
        : [\n\t{\n\t\t\"timepoint\" : 3,\n\t\t\"cloudcover\" : 9,\n\t\t\"seeing\"
        : 2,\n\t\t\"transparency\" : 7,\n\t\t\"lifted_index\" : 6,\n\t\t\"rh2m\" :
        13,\n\t\t\"wind10m\" : {\n\t\t\t\"direction\" : \"SW\",\n\t\t\t\"speed\" :
        2\n\t\t},\n\t\t\"temp2m\" : 12,\n\t\t\"prec_type\" : \"none\"\n\t},\n\t{\n\t\t\"timepoint\"
        : 6,\n\t\t\"cloudcover\" : 9,\n\t\t\"seeing\" : 3,\n\t\t\"transparency\" :
        7,\n\t\t\"lifted_index\" : 6,\n\t\t\"rh2m\" : 14,\n\t\t\"wind10m\" : {\n\t\t\t\"direction\"
        : \"S\",\n\t\t\t\"speed\" : 2\n\t\t},\n\t\t\"temp2m\" : 12,\n\t\t\"prec_type\"
        : \"none\"\n\t},\n\t{\n\t\t\"timepoint\" : 9,\n\t\t\"cloudcover\" : 9,\n\t\t\"seeing\"
        : 4,\n\t\t\"transparency\" : 6,\n\t\t\"lifted_index\" : 10,\n\t\t\"rh2m\"
        : 14,[...]
