interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?latitude=37.3660&longitude=-122.0770&hourly=cloud_cover%2Cvisibility%2Cwind_speed_10m&wind_speed_unit=ms&timezone=UTC
  response:
    body:
      string: '{"latitude":37.36417,"longitude":-122.062386,"generationtime_ms":0.11241436004638672,"utc_offset_seconds":0,"timezone":"GMT","timezone_abbreviation":"GMT","elevation":51.0,"hourly_units":{"time":"iso8601","cloud_cover":"%","visibility":"m","wind_speed_10m":"m/s"},"hourly":{"time":["2026-04-26T00:00","2026-04-26T01:00","2026-04-26T02:00","2026-04-26T03:00","2026-04-26T04:00","2026-04-26T05:00","2026-04-26T06:00","2026-04-26T07:00","2026-04-26T08:00","2026-04-26T09:00","2026-04-26T10:00","2026-04-26T11:00","2026-04-26T12:00","2026-04-26T13:00","2026-04-26T14:00","2026-04-26T15:00","2026-04-26T16:00","2026-04-26T17:00","2026-04-26T18:00","2026-04-26T19:00","2026-04-26T20:00","2026-04-26T21:00","2026-04-26T22:00","2026-04-26T23:00","2026-04-27T00:00","2026-04-27T01:0[...]
