interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/points/37.3660,-122.0770
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/37.366,-122.077\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -122.077,\n            37.366\n        ]\n    },\n    \"properties\":
        {\n        \"@id\": \"https://api.weather.gov/points/37.366,-122.077\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"MTR\",\n        \"type\":
        \"land\",\n        \"forecastOffice\": \"https://api.weather.gov/offices/MTR\",\n
        \       \"gridId\": \"MTR\",\n        \"gridX\": 93,\n        \"gridY\": 85,\n
        \       \"forecast\": \"https://api.weather.gov/gridpoints/MTR/93,85/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/MTR/93,85/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/MTR/93,85\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/MTR/93,85/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -122.096629,\n                    37.368538\n                ]\n
        \           },\n            \"properties\": {\n                \"city\": \"Los
        Altos\",\n                \"state\": \"CA\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        1757.4912320109\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 99\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/CAZ508\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/CAC085\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/CAZ508\",\n        \"timeZone\": \"America/Los_Angeles\",\n
        \       \"radarStation\": \"KMUX\",\n        \"astronomicalData\": {\n            \"sunrise\":
        \"2026-04-26T06:17:16-07:00\",\n            \"sunset\": \"2026-04-26T19:54:50-07:00\",\n
        \           \"transit\": \"2026-04-26T13:06:03-07:00\",\n            \"civilTwilightBegin\":
        \"2026-04-26T05:50:57-07:00\",\n            \"civilTwilightEnd\": \"2026-04-26T20:21:09-07:00\",\n
        \           \"nauticalTwilightBegin\": \"2026-04-26T05:17:36-07:00\",\n            \"nauticalTwilightEnd\":
        \"2026-04-26T20:54:30-07:00\",\n            \"astronomicalTwilightBegin\":
        \"2026-04-26T04:42:22-07:00\",\n            \"astronomicalTwilightEnd\": \"2026-04-26T21:29:44-07:00\"\n
        \       },\n        \"nwr\": {\n            \"transmitter\": \"KHB49\",\n
        \           \"sameCode\": \"006085\",\n            \"areaBroadcast\": \"https://api.weather.gov/radio/KHB49/broadcast\",\n
        \           \"pointBroadcast\": \"https://api.weather.gov/points/37.366,-122.077/radio\"\n
        \       }\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 13be946e
      X-Edge-Request-ID:
      - c7c6137d
      X-Server-ID:
      - vm-bldr-api-ops-app5.ncep.noaa.gov
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/gridpoints/MTR/93,85/forecast/hourly
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -122.0608,\n                    37.363\n                ],\n
        \               [\n                    -122.0664,\n                    37.3848\n
        \               ],\n                [\n                    -122.0938,\n                    37.3804\n
        \               ],\n                [\n                    -122.0882,\n                    37.3585\n
        \               ],\n                [\n                    -122.0608,\n                    37.363\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"units\": \"us\",\n        \"forecastGenerator\": \"HourlyForecastGenerator\",\n
        \       \"generatedAt\": \"2026-04-26T05:51:48+00:00\",\n        \"updateTime\":
        \"2026-04-26T03:55:44+00:00\",\n        \"validTimes\": \"2026-04-25T21:00:00+00:00/P8DT4H\",\n
        \       \"elevation\": {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\":
        46.0248\n        },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"\",\n                \"startTime\": \"2026-04-25T22:00:00-07:00\",\n
        \               \"endTime\": \"2026-04-25T23:00:00-07:00\",\n                \"isDaytime\":
        false,\n                \"temperature\": 54,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        8\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 8.333333333333334\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 77\n                },\n
        \               \"windSpeed\": \"5 mph\",\n                \"windDirection\":
        \"WSW\",\n                \"icon\": \"https://api.weather.gov/icons/land/night/bkn?size=small\",\n
        \               \"shortForecast\": \"Mostly Cloudy\",\n                \"detailedForecast\":
        \"\"\n            },\n            {\n                \"number\": 2,\n                \"name\":
        \"\",\n                \"startTime\": \"2026-04-25T23:00:00-07:00\",\n                \"endTime\":
        \"2026-04-26T00:00:00-07:00\",\n                \"isDaytime\": false,\n                \"temperature\":
        54,\n                \"temperatureUnit\": \"F\",\n                \"temperatureTrend\":
        null,\n                \"probabilityOfPrecipitation\": {\n               [...]
